## EX1 : ask user to enter lower case string and convert all characters with even index to upper case ?

In [39]:
s = input('Enter Lower Case String : ')

Enter Lower Case String : hello

In [40]:
ans = ''
for i in range(len(s)):
    if i % 2 == 0:
        ans += s[i].upper()
    
    else :
        ans += s[i]

In [41]:
ans

'HeLlO'

In [42]:
for i in range(len(s)):
    if i % 2 == 0:
        print(s[i].upper() , end = '')
    
    else :
        print(s[i] , end = '')

HeLlO

## EX2 : you have a list of integers and ask user to enter number and if number exist inside list print exist else not exist ?

In [43]:
lst = [5 , 90 , 3 , -1 , 5 , 3 , 8]

In [44]:
num = int(input('Enter Number : '))

Enter Number : 5

In [45]:
if num in lst:
    print('Number is exist inside list')

else :
    print('Number is not exist inside list')

Number is exist inside list

#### another solution

In [46]:
flag = False 

for item in lst:
    if item == num:
        flag = True 
        break
    
print('Number is exist inside list' if flag else 'Number is not exist inside list')

Number is exist inside list

## EX3:  you have a list of integers and ask user to enter number and print number of occurrences of this number inside list ?

In [47]:
lst = [5 , 90 , 3 , -1 , 5 , 3 , 8 , 90 , 8 , -1]

In [48]:
num = int(input('Enter Number : '))

Enter Number : 90

In [49]:
print(f'This number exist {lst.count(num)} times inside that list')

This number exist 2 times inside that list

#### another solution

In [50]:
cnt = 0 

for item in lst:
    if item == num:
        cnt += 1 
        
print(f'This number exist {cnt} times inside that list')

This number exist 2 times inside that list

## EX4: you have a string you are asked to how many numbers , how many char , how many special char in it 
* sample input 'abc123+-\z|'
* number of numbers = 3
* number of char = 4
* number of special char = 4

In [51]:
s = 'abc123+-\z|'

In [52]:
countn , countch ,countsch = 0 , 0 , 0

In [53]:
# using string operations 
for item in s:
    
    if item.isdecimal() == True :
        ## increment the counter of numbers
        countn += 1 
        
    elif item.isalpha() == True :
        ## increment the counter of chars
        countch += 1 
        
    else :
        ## increment the counter of special chars
        countsch += 1

In [54]:
countn , countch ,countsch

(3, 4, 4)

## EX5: you have a list and number search in list to find 2 items there sum is that number ?

In [55]:
lst = [2 ,3 ,6 , 10 , 12 , 16]
target = 22

In [56]:
# with repetion problem !!
ans = []

for item in lst:
    
    if target - item in lst:
        ans.append((item , target-item))
    
ans

[(6, 16), (10, 12), (12, 10), (16, 6)]

#### another solution (without repetition)

In [57]:
# without repetion
ans = []

for i in range(len(lst)):
    
    if target - lst[i] in lst[i + 1 : ]:
        ans.append((lst[i] , target - lst[i]))

ans

[(6, 16), (10, 12)]

## EX6 : For this dictionary find total price for meal ?

In [58]:
resturants = {
  'KFC':{
      'chicken':75,
      'Salad': 10,
      'meat':80,
      'spicy chicken':90
  },
  'Heart Attack':{
      'Angry Heart':100,
      'Brave Heart' : 88,
      'chicken' :60,
       'Salad': 15
  },
  'McDonald':{
      'Big Mac':56,
      'Spicy Crispy Chicken Sandwich': 77,
      'Happy meal': 40,
      'Big Tasty': 95
  },
   "Zack's":{
     'chicken':120,
      'Spicy Crispy Chicken Sandwich': 55,
      'Salad': 20,
      'meat':88
  }
}

In [59]:
ans = {}
for key in resturants.keys():
    print(key , sum(resturants[key].values()))
    ans[key] = sum(resturants[key].values())

KFC 255
Heart Attack 263
McDonald 268
Zack's 283

In [60]:
ans

{'KFC': 255, 'Heart Attack': 263, 'McDonald': 268, "Zack's": 283}

## EX7 : you have a list you are asked to reverse this list ?

#### 1- using slicing

In [61]:
lst = [ 1 , 90 ,'a' , 6]

In [62]:
# using slicing 
print(lst[::-1])

[6, 'a', 90, 1]

### using lst method

In [63]:
# using list method (but this return result in same list !! ) -- > run initialization again :)
lst.reverse()
lst

[6, 'a', 90, 1]

#### using builtin functions

In [64]:
# using builtin python functions 
list(reversed(lst))

[1, 90, 'a', 6]

#### using for loop

In [65]:
# using loops and lists 

rlst = []

for i in range(len(lst) -1 , -1 , -1):
    rlst.append(lst[i])
    
rlst

[1, 90, 'a', 6]

#### using two pointers and swapping

In [66]:
# using two pointers 
# time 
i = 0
j = len(lst)-1


while i < j:
    
    lst[i] , lst[j] = lst[j] , lst[i]
    
    i += 1 
    j -= 1
    
lst

[1, 90, 'a', 6]

## EX8: Write a program that asks the user to enter an integer and reports all divisors in ascending order.

In [67]:
n = int(input('Enter Number : '))

Enter Number : 20

In [68]:
[i for i in range(1 , n + 1 ) if n % i == 0]

[1, 2, 4, 5, 10, 20]

### another sol

In [69]:
for i in range(1 , n + 1 ):
    if n % i == 0:
        print(i , end = ' ')

1 2 4 5 10 20