## EX1 : ask user to enter lower case string and convert all characters with even index to upper case ?

In [15]:
s = "hello world"
for i in range(0,len(s),2):
    print(s[i].upper(),end=" ")
print("\n")
s = "hello world"
for i in range(len(s)):
    if i % 2 ==0 :  
        print(s[i].upper(),end=" ")  
print("\n")        
s="hello world"
lst=[]
for i in range(len(s)):
    if i % 2 ==0 :  
        lst.append(s[i].upper())
    else :
        lst.append(s[i])
print(lst)        
s="hello world"
lst=""
for i in range(len(s)):
    if i % 2 ==0 :  
        lst=lst+s[i].upper()
    else :
        lst=lst+s[i]
print(lst)

H L O W R D

H L O W R D

['H', 'e', 'L', 'l', 'O', ' ', 'W', 'o', 'R', 'l', 'D']
HeLlO WoRlD

In [17]:
s = "hello"
lst = [] 
lst.append(s[0])
lst.append(s[1])
lst.append(s)
print(lst )

['h', 'e', 'hello']

In [24]:
s = "hello"
for i in range(len(s)):
  print(s[i])

h
e
l
l
o

In [19]:
s = "hello world"
lst = []
for i in range(len(s)):
  if i%2 ==0 :
    lst.append(s[i].upper())
  else:
    lst.append(s[i])

lst

['H', 'e', 'L', 'l', 'O', ' ', 'W', 'o', 'R', 'l', 'D']

In [15]:
s = "hello world"
for i in range(0,len(s)):
  if i % 2 ==0 :
    print(s[i].upper())
  else:
    print(s[i])

H
e
L
l
O

W
o
R
l
D

## EX2 : you have a list of integers and ask user to enter number and if number exist inside list print exist else not exist ?
- using "in" and using for loops

## EX3:  you have a list of integers and ask user to enter number and print number of occurrences of this number inside list ?
- using count and using for loops

In [20]:
number=int(input("enter number : "))
lst=[1,1,2,3,4]
print(lst.count(number))

enter number1
2

In [24]:
number=int(input("enter number : "))
lst=[1,1,2,3,4]
counter=0
for i in lst :
    if i == number:
        counter +=1
print(counter)
counter=0
for i in range(len(lst)) :
    if lst[i] == number:
        counter +=1
print(counter)

enter number : 1
2
2

## EX4: you have a string you are asked to how many numbers , how many char , how many special char in it 
* sample input 'abc123+-\z|'
* number of numbers = 3
* number of char = 4
* number of special char = 4

In [26]:
name=input("enter string : ")
countn,countch,countsp=0,0,0
for i in name :
    if i.isdecimal() :
        countn +=1
    elif i.isalpha() :
        countch +=1
    else :
        countsp +=1
print("integers = {} , char = {} , speacial char = {}".format(countn,countch,countsp))        
countn,countch,countsp=0,0,0
for i in range(len(name)) :
    if name[i].isdecimal() :
        countn +=1
    elif name[i].isalpha() :
        countch +=1
    else :
        countsp +=1
print("integers = {} , char = {} , speacial char = {}".format(countn,countch,countsp))

enter string : anfiocajio23e13\
integers = 4 , char = 11 , speacial char = 1
integers = 4 , char = 11 , speacial char = 1

## EX5: you have a list and number search in list to find 2 items there sum is that number ?

In [ ]:
lst = [2 ,3 ,6 , 10 , 12 , 16]
target = 22

In [5]:
lst = [2 ,3 ,6 , 10 , 12 , 16]
#with repetation
target=int(input("enter target number :"))
lst_new=[]
for i in lst :
    if target-i in lst :
        lst_new.append((i,target-i))
print(lst_new)  
#without repetation
lst = [2 ,3 ,6 , 10 , 12 , 16]
target=int(input("enter target number :"))
lst_new=[]
for i in range(len(lst)) :
    if target-lst[i] in lst[i+1 :] :
        lst_new.append((lst[i],target-lst[i]))
print(lst_new)

enter target number :5
[(2, 3), (3, 2)]
enter target number :5
[(2, 3)]

## EX6 : For this dictionary find total price for each restaurant ?

In [9]:

    resturants = {
  'KFC':{
      'chicken':75,
      'Salad': 10,
      'meat':80,
      'spicy chicken':90
  },
  'Heart Attack':{
      'Angry Heart':100,
      'Brave Heart' : 88,
      'chicken' :60,
       'Salad': 15
  },
  'McDonald':{
      'Big Mac':56,
      'Spicy Crispy Chicken Sandwich': 77,
      'Happy meal': 40,
      'Big Tasty': 95
  },
   "Zack's":{
     'chicken':120,
      'Spicy Crispy Chicken Sandwich': 55,
      'Salad': 20,
      'meat':88
  }
}

NameError: name 'restaurant' is not defined

In [10]:
def calculate():
    name=input("enter restaurant name")
    if name == 'KFC' or name == 'Heart Attack' or name == 'McDonald' or name == 'Zack \'s' :
        print(summation(name))
        print(summation_another(name))
        print(summation_another_another(name))
    else :
        calculate()
def summation(name):
    resturants = {
      'KFC':{
          'chicken':10,
          'Salad': 10,
          'meat':10,
          'spicy chicken':10
      },
      'Heart Attack':{
          'Angry Heart':100,
          'Brave Heart' : 88,
          'chicken' :60,
           'Salad': 15
      },
      'McDonald':{
          'Big Mac':56,
          'Spicy Crispy Chicken Sandwich': 77,
          'Happy meal': 40,
          'Big Tasty': 95
      },
       "Zack's":{
         'chicken':120,
          'Spicy Crispy Chicken Sandwich': 55,
          'Salad': 20,
          'meat':88
      }
    }
    sum=0    
    for i in resturants[name] :
        sum=sum+resturants[name][i]
    return sum  
def summation_another(name):
    resturants = {
      'KFC':{
          'chicken':10,
          'Salad': 10,
          'meat':10,
          'spicy chicken':10
      },
      'Heart Attack':{
          'Angry Heart':100,
          'Brave Heart' : 88,
          'chicken' :60,
           'Salad': 15
      },
      'McDonald':{
          'Big Mac':56,
          'Spicy Crispy Chicken Sandwich': 77,
          'Happy meal': 40,
          'Big Tasty': 95
      },
       "Zack's":{
         'chicken':120,
          'Spicy Crispy Chicken Sandwich': 55,
          'Salad': 20,
          'meat':88
      }
    }
    sum=0  
    lst=[]
    for i in resturants[name] :
        lst.append(resturants[name][i])
    for i in lst :
        sum=sum+i
    return sum  
def summation_another_another(name):
    resturants = {
      'KFC':{
          'chicken':10,
          'Salad': 10,
          'meat':10,
          'spicy chicken':10
      },
      'Heart Attack':{
          'Angry Heart':100,
          'Brave Heart' : 88,
          'chicken' :60,
           'Salad': 15
      },
      'McDonald':{
          'Big Mac':56,
          'Spicy Crispy Chicken Sandwich': 77,
          'Happy meal': 40,
          'Big Tasty': 95
      },
       "Zack's":{
         'chicken':120,
          'Spicy Crispy Chicken Sandwich': 55,
          'Salad': 20,
          'meat':88
      }
    }
    sum=0  
    lst=[]
    for i in resturants[name] :
        lst.append(resturants[name][i])
    for i in range(len(lst)) :
        sum=sum+lst[i]
    return sum  
calculate()

enter restaurant nameKFC
40
40
40

## EX7 : you have a list you are asked to reverse this list 
- using slicing
- using for loop
- using list method

In [21]:
lst = [ 1 , 90 ,'a' , 6]
print(lst[::-1])
lst = [ 1 , 90 ,'a' , 6]
lst.reverse()
print(lst)
lst = [ 1 , 90 ,'a' , 6]
lst_new=list(reversed(lst))
print(lst)
print(lst_new)
lst = [ 1 , 90 ,'a' , 6]
lst_new=[]
for i in range(len(lst)-1,-1,-1):
    lst_new.append(lst[i])
print(lst_new)    
lst = [ 1 , 90 ,'a' , 6]
i = 0
j = len(lst)-1


while i < j:
    
    lst[i] , lst[j] = lst[j] , lst[i]
    
    i += 1 
    j -= 1
print(lst)

[6, 'a', 90, 1]
[6, 'a', 90, 1]
[1, 90, 'a', 6]
[6, 'a', 90, 1]
[6, 'a', 90, 1]
[6, 'a', 90, 1]

True

## EX8: Write a program that asks the user to enter an integer and reports all divisors in ascending order.

In [27]:
n = int(input('Enter Number : '))
for i in range(1,n):
    if n % i == 0:
        print(i)
[(i) for i in range(1,n) if n % i == 0]

Enter Number : 12
1
2
3
4
6

[1, 2, 3, 4, 6]