# Lambda Expressions, Map, and Filter and Reduce

Now its time to quickly learn about two built in functions, filter and map. Once we learn about how these operate, we can learn about the lambda expression, which will come in handy when you begin to develop your skills further!

## Table of Contents
1. `map` function
2. `filter` function
3. `reduce` function
4. lambda function

## 1) `map` function

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [1]:
list_1 = [1, 2, 3, 4, 5]
list_2 = []

for n in list_1:
    sq_of_num = n ** 2
    list_2.append(sq_of_num)
list_2

[1, 4, 9, 16, 25]

In [2]:
list_2 = [i ** 2 for i in list_1]
list_2

[1, 4, 9, 16, 25]

In [3]:
def square(num):
    return num ** 2


list_1 = [1, 2, 3, 4, 5]
list_2 = []

for n in list_1:
    sq_of_num = square(n)
    list_2.append(sq_of_num)
list_2

[1, 4, 9, 16, 25]

In [1]:
def square(num):
    return num ** 2


my_nums = [1, 2, 3, 4, 5, 6]

result = list(map(square, my_nums))
print(result)

[1, 4, 9, 16, 25, 36]

In [ ]:
def area_of_circle(radius):
    return 3.14 * radius ** 2

my_nums = [1, 2, 3, 4, 5]

list(map(area_of_circle, my_nums))

[3.14, 12.56, 28.26, 50.24, 78.5]

In [5]:
my_names = ['eslam', 'ahmed', 'eman', 'mohammed']

def my_func(name):
    result = name.upper() * 2 + '!'
    return result
    
list(map(my_func, my_names))

['ESLAMESLAM!', 'AHMEDAHMED!', 'EMANEMAN!', 'MOHAMMEDMOHAMMED!']

The functions can also be more complex

## 2) `filter` function

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9,10]
nums_even = []

for n in nums:
    if n % 2 == 0:
        nums_even.append(n)
nums_even

[0, 2, 4, 6, 8, 10]

In [ ]:
nums_even = [i for i in [0,1,2,3,4,5,6,7,8,9,10] if i % 2 == 0]
nums_even

[0, 2, 4, 6, 8, 10]

In [ ]:
def check_even(num):
    return num % 2 == 0 

nums = [0,1,2,3,4,5,6,7,8,9,10]
nums_even = []

for n in nums:
    if check_even(n) == True:
        nums_even.append(n)
nums_even

[0, 2, 4, 6, 8, 10]

In [2]:
print (5 % 2 == 0)

False

In [6]:
def check_even(num):
    return num % 2 == 0 

nums = [0,1,2,3,4,5,6,7,8,9,10]

nums_even = list(filter(check_even,nums))
print(nums_even)

[0, 2, 4, 6, 8, 10]

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [ ]:
def check_div_on_five(num):
    return num % 5 == 0 

nums = list(range(1, 51))

list(filter(check_div_on_five,nums))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

## given a list of grades, filter the grades > 50 only

In [3]:
def is_greater_than_50(num):
    return num > 50


grades = [42, 61, 8, 54, 80, 33, 58, 24, 40, 87]

result = list(filter(is_greater_than_50 , grades ))
print(result)

[61, 54, 80, 58, 87]

## 3) `reduce` function

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.

In [11]:
lis = [1, 2, 3, 4, 5] 

summ = 0

for n in lis:
    summ = summ + n
summ

15

In [ ]:
lis = [1, 2, 3, 4, 5] 

def summ_of_nums(my_nums):   
    summ = 0
    for n in lis:
        summ = summ + n
    return summ

summ_of_nums(lis)

15

In [14]:
from functools import reduce

def calc_sum(a, b):
    return a + b


lis = range(1, 6)
  
reduce(calc_sum,lis)

15

In [4]:
from functools import reduce

def calc_mult(a, b):
    return a * b


lis = [1, 2, 3, 4, 5]
  
reduce(calc_mult,lis)

120

In [ ]:
from functools import reduce

def calc_sum(a, b):
    return a + b


lis = range(1, 6)
  
reduce(calc_sum,lis) / len(lis)

3.0

In [ ]:
from functools import reduce

def check_bigger(a, b):
    return a if a > b else b


lis = [10, 255, 30, -4, 50]
  
reduce(check_bigger,lis)

255

## Example 1

## find from the list the summetion of the cube of odd numbers between 1 & 20

In [5]:
numbers = list( range(1,21 ))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
def is_odd(num):
    return num%2 != 0

result = list(filter(is_odd , numbers))
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
def cube(num):
    return num ** 3

result2 = list(map(cube , result)) 
print(result2)

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]

In [10]:
from functools import reduce
def summation(a , b):
    return a + b

result3 = reduce(summation , result2)
print(result3)

19900

In [ ]:
from functools import reduce

my_nums = list(range(1, 21))

def is_odd(n):
    return n % 2 != 0

def cube_num(n):
    return n ** 3

def calculate_sum(a, b):
    return a + b
    
my_nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# filter odd numbers
my_odd_nums = list(filter(is_odd, my_nums))
my_odd_nums

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# maping my_odd_nums to my_odd_cube_nums
my_odd_cube_nums = list(map(cube_num, my_odd_nums))
my_odd_cube_nums

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]

In [ ]:
my_odd_cube_nums_sum = reduce(calculate_sum, my_odd_cube_nums)
my_odd_cube_nums_sum

19900

## Example 2

find from the list the max of the cube of square of even numbers between 1 & 20

In [ ]:
lst = list(range(1, 21))
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
def is_even(n):
    return n % 2 == 0

def square(n):
    return n ** 2

def get_bigger(x, y):
    return x if x > y else y

In [ ]:
even = list(filter(is_even, lst))
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
sq_even = list(map(square, even))
sq_even

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [ ]:
max_of_sq_even = reduce(get_bigger, sq_even)
max_of_sq_even

400

## 4) lambda expression

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

Lets slowly break down a lambda expression by deconstructing a function:

In [ ]:
def square(num):
    result = num ** 2
    return result

In [ ]:
square(2)

4

We could simplify it:

In [ ]:
def square(num):
    return num ** 2

In [ ]:
square(2)

4

We could actually even write this all on one line.

In [ ]:
def square(num): return num ** 2

In [ ]:
square(2)

4

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [ ]:
lambda num: num ** 2

So why would use this? Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression. Let's repeat some of the examples from above with a lambda expression

In [12]:
my_nums = [1, 2, 40 , 12, 3, 4, 5]
list(map(lambda num: num ** 2, my_nums))

[1, 4, 1600, 144, 9, 16, 25]

In [13]:
list(filter(lambda num: num % 2 == 0,my_nums))

[2, 40, 12, 4]

In [15]:
from functools import reduce
reduce(lambda a,b: a + b , my_nums)

67

# Example using Lambda function

In [ ]:
from functools import reduce

my_nums = list(range(1, 21))

my_odd_nums = list(filter(lambda n: n % 2 != 0, my_nums))
my_odd_cube_nums = list(map(lambda n: n ** 3, my_odd_nums))
my_odd_cube_nums_sum = reduce(lambda a,b: a + b, my_odd_cube_nums)

my_odd_cube_nums_sum

19900

Here are a few more examples, keep in mind the more comples a function is, the harder it is to translate into a lambda expression, meaning sometimes its just easier (and often the only way) to create the def keyword function.

**Lambda expression for grabbing the first character of a string:**

In [17]:
def first_char(st):
    return st[0]
first_char("hello")

'h'

In [18]:
first_char = lambda st : st[0]
first_char("hello")

'h'

In [ ]:
lambda word: word[0]

**Lambda expression for reversing a string:**

In [ ]:
lambda word: word[::-1]

You can even pass in multiple arguments into a lambda expression. Again, keep in mind that not every function can be translated into a lambda expression.

In [ ]:
lambda x,y : x + y

You will find yourself using lambda expressions often with certain non-built-in libraries, for example the pandas library for data analysis works very well with lambda expressions.

# Great Work!