## <p style="color:blue;">Rate yourself</p> 
- level1 :   **1 point**
- level2 :   **2 point**
- level3 :   **3 point**

### Totall points = 28
>0 - 15 point : you need more studying ðŸ¤¨

>16 - 25 point : Very good, keep going ðŸ‘Œ

>26 - 28 point : you're awesome ðŸ¤©

# <center> Let's start ðŸ’ª </center>

## <p style="color:green;">Q.01 Write a Python program to calculate the length of a string.</p>

In [1]:
# Answer here 
String = input()
print("The length of string is,",len(String))

Hello World
The length of string is, 11

## <p style="color:green;">Q.02 Given the string 'hello' give an index command that returns 'e'</p>

In [2]:
# Answer here 
s = 'hello'
s[1]

'e'

## <p style="color:green;">Q.03 Reverse the string 'hello' using slicing</p>

In [3]:
# Answer here 
s ='hello'
s[::-1]

'olleh'

## <p style="color:red;">Q.04 Write a Python program to change a given string to a new string where the first and last chars have been exchanged.</p>

In [2]:
# Answer here 
str1 = "hello"
str1[-1] + str1[1:-1] + str1[0]

'oellh'

## <p style="color:green;">Q.05 Reassign 'hello' in this nested list to say 'goodbye' instead</p>
> list3 = [1,2,[3,4,'hello']]

In [4]:
list3 = [1,2,[3,4,'hello']]
list3[-1][-1] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [ ]:
# Answer here 
list3[2][2] = 'goodbye'

## <p style="color:green;">Q.06 Sort the list below</p>
> list4 = [5,3,4,6,1]

In [9]:
list4 = [5,3,4,6,1]

In [10]:
# Answer here 
sorted(list4)

[1, 3, 4, 5, 6]

In [11]:
list4

[5, 3, 4, 6, 1]

In [12]:
list4.sort()
list4

[1, 3, 4, 5, 6]

## <p style="color:green;">Q.07 Write a Python program to sum all the items in a list.</p>

In [1]:
# Answer here 
sum([1,2,3])

6

## <p style="color:green;">Q.08 Write a Python program to get the largest number from a list.</p>

In [14]:
# Answer here 
max([1,2,3])

3

## <p style="color:green;">Q.09 Write a Python program to get the smallest number from a list.</p>

In [15]:
# Answer here 
min([1,2,3])

1

## <p style="color:orange;">Q.10 Write a Python program to remove duplicates from a list.</p>

In [16]:
# Answer here 
list1 = [1,1,1,1,2,3,4]
new_list = list(set(list1))
print(new_list)

[1, 2, 3, 4]

## <p style="color:green;">Q.11 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
>d = {'k1':{'k2':'hello'}}

In [20]:
d = {'k1':{'k2':'hello'}}

In [21]:
# Answer here 
d['k1']['k2']

'hello'

## <p style="color:orange;">Q.12 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
> d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [3]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [24]:
# Answer here 
d['k1'][0]['nest_key'][1][0]

'hello'

## <p style="color:red;">Q.13 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [4]:
# Answer here 
d['k1'][2]['k2'][1]['tough'][2][0]

IndexError: list index out of range

## <p style="color:green;">Q.14 Write a Python script to add a key to a dictionary.</p>
> Sample Dictionary : {0: 10, 1: 20}

> Expected Result : {0: 10, 1: 20, 2: 30}

In [25]:
# Answer here 
d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

In [26]:
d[3] = 120
print(d)

{0: 10, 1: 20, 2: 30, 3: 120}

## <p style="color:green;">Q.15 Write a Python program to sum all the items in a dictionary.</p>

In [27]:
# Answer here 
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

In [31]:
result = 0
for i in my_dict.values():
    ####
    result +=i
print(result)

293

## <p style="color:green;">Q.16 Write a Python program to add an item in a tuple.</p>

In [32]:
# Answer here 

#create a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)
#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#converting the tuple to list
listx = list(tuplex) 
#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)

## <p style="color:green;">Q.17 Write a Python program to convert a tuple to a string.</p>

In [35]:
# Answer here 
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

## <p style="color:green;">Q.18 Write a Python program to remove item(s) from a given set.</p>

In [37]:
# Answer here 
num_set = set([0, 1, 3, 4, 5])
print("Original set:")
print(num_set)
num_set.pop()
print("\nAfter removing the first element from the said set:")
print(num_set)

Original set:
{0, 1, 3, 4, 5}

After removing the first element from the said set:
{1, 3, 4, 5}

## <p style="color:orange;">Q.19 Write a Python program to create an intersection of sets.</p>
> Explanation : In mathematics, the intersection of two sets A and B, denoted by A âˆ© B, is the set containing all elements of A that also belong to B (or equivalently, all elements of B that also belong to A).

In [38]:
# Answer here 
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
print("Original set elements:")
print(setx)
print(sety)
print("\nIntersection of two said sets:")
setz = setx & sety
print(setz)

Original set elements:
{'green', 'blue'}
{'yellow', 'blue'}

Intersection of two said sets:
{'blue'}

In [39]:
setx.intersection(sety)

{'blue'}

## <p style="color:orange;">Q.20 Write a Python program to create a union of sets.</p>
> Explanation :In mathematics, The union of two sets A and B is the set of elements which are in A, in B, or in both A and B.

In [40]:
# Answer here 
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
setc = setc1.union(setc2)
print("\nUnion of above sets:")
print(setc)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
print("\nUnion of above sets:")
setn = setn1.union(setn2)
print(setn)

Original sets:
{'green', 'blue'}
{'yellow', 'blue'}

Union of above sets:
{'green', 'yellow', 'blue'}

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Union of above sets:
{1, 2, 3, 4, 5, 6, 7, 8, 9}

# <center> Just Focus ðŸ‘€ </center>