# Useful Operators

There are a few built-in functions and "operators" in Python that don't fit well into any category, so we will go over them in this lecture, let's begin!

## Table of Contents
1. range
2. enumerate
3. zip
4. in operator

## 1) range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [ ]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(20, 31))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
list(range(20, 31, 2))

[20, 22, 24, 26, 28, 30]

In [ ]:
# Notice how 11 is not included, up to but not including 11, just like slice notation!
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# Third parameter is step size!
# step size just means how big of a jump/leap/step you 
# take from the starting number to get to the next number.

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [ ]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## 2) enumerate

enumerate is a very useful function to use with for loops.

In [4]:
lst = [10,20,40]
result = list( enumerate(lst) )
print(result)
print(result[0])
print(result[0][1])

[(0, 10), (1, 20), (2, 40)]
(0, 10)
10

In [3]:
list(enumerate([30, 40, 50, 60]))

[(0, 30), (1, 40), (2, 50), (3, 60)]

In [4]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [5]:
list(enumerate('abcde', 8))

[(8, 'a'), (9, 'b'), (10, 'c'), (11, 'd'), (12, 'e')]

In [ ]:
for idx, letter in enumerate('abcde'):
    print(f'at index {idx} charchter is {letter}')

at index 0 charchter is a
at index 1 charchter is b
at index 2 charchter is c
at index 3 charchter is d
at index 4 charchter is e

In [6]:
for idx, num  in enumerate([30, 40, 50, 60]):
    print(f'at index {idx} number is {num}')

at index 0 number is 30
at index 1 number is 40
at index 2 number is 50
at index 3 number is 60

In [13]:
print("hello" , end=' ' )
print("python")

hello python

In [15]:
s = "hello python"
for idx , char in enumerate(s):
    if idx%2 == 0:
        print(char.upper() , end = "")
        
    else:
        print(char.lower() , end = "")

HeLlO PyThOn

In [17]:
assignment1_grades = [10, 20 , 15 , 14 ,13]
assignment2_grades = [11, 18 , 13 , 7 , 3]

total_grades = []
for i in range(len(assignment1_grades)) :
    total_grades.append(assignment1_grades[i] + assignment2_grades[i])
print(total_grades)

[21, 38, 28, 21, 16]

## 3) zip

You can use the **zip()** function to quickly create a list of tuples by "zipping" up together two lists.

In [18]:
list( zip("ahmed" , "mohamed") )

[('a', 'm'), ('h', 'o'), ('m', 'h'), ('e', 'a'), ('d', 'm')]

In [16]:
mylist1 = [10,20,30,40,50,60]
mylist2 = [100,200,300,400,500,600]

In [17]:
list(zip(mylist1,mylist2))

[(10, 100), (20, 200), (30, 300), (40, 400), (50, 500), (60, 600)]

In [18]:
t = (1,2)
x , y = t
print(x)
print(y)

1
2

To use the generator, we could just use a for loop

In [19]:
for t in zip(mylist1 , mylist2):
    print(t)

(10, 100)
(20, 200)
(30, 300)
(40, 400)
(50, 500)
(60, 600)

In [20]:
for num_1,num_2 in zip(mylist1,mylist2):
    print(num_1 + num_2)

110
220
330
440
550
660

In [20]:
x = [2, 7, 3, 5]
y = [10, 30, 40, 100]
print( list(zip(x, y)) )

[(2, 10), (7, 30), (3, 40), (5, 100)]

In [25]:
for n1, n2 in zip(x, y):
    print(n1 * n2)

20
210
120
500

In [19]:
assignment1_grades = [10, 20 , 15 , 14 ,13]
assignment2_grades = [11, 18 , 13 , 7 , 3]

total_grades = []
for assignment1_grade , assignment2_grade in zip (assignment1_grades , assignment2_grades) :
    total_grades.append(assignment1_grade + assignment2_grade)
print(total_grades)

[21, 38, 28, 21, 16]

we can zip more than 2 lists

In [26]:
mylist1 = [10,20,30,40,50,60]
mylist2 = ['a','b','c','d','e','f']
mylist3 = [10,20,30,40,50,60]
list(zip(mylist1, mylist2, mylist3))

[(10, 'a', 10),
 (20, 'b', 20),
 (30, 'c', 30),
 (40, 'd', 40),
 (50, 'e', 50),
 (60, 'f', 60)]

In [27]:
for v1,v2,v3 in zip(mylist1, mylist2, mylist3):
    print(f'v1: {v1}, v2: {v2}, v3: {v3}')

v1: 10, v2: a, v3: 10
v1: 20, v2: b, v3: 20
v1: 30, v2: c, v3: 30
v1: 40, v2: d, v3: 40
v1: 50, v2: e, v3: 50
v1: 60, v2: f, v3: 60

## 4) in operator

We've already seen the **in** keyword durng the for loop, but we can also use it to quickly check if an object is in a list

In [21]:
'x' in ['x','y','z']

True

In [22]:
'x' not in ['x','y','z']

False

In [23]:
'x' in 'charles xavier'

True

In [24]:
'kerl' not in 'charles xavier'

True

In [ ]:
'x' in 'ahmed'

False

In [ ]:
5 in [1,2,3]

False

In [ ]:
5 in [1,2,3,5]

True

In [25]:
'name' in {'age': 20, 'name': 'eslam'}

True

In [ ]:
'address' in {'age': 20, 'name': 'eslam'}

False

In [ ]:
20 in {'age': 20, 'name': 'eslam'}.values()

True

In [ ]:
5 in (1,2,3)

False

In [ ]:
if 15 in range(10):
    print('yes')
else:
    print('no')

no

# Great Work!