**print , variables, dtypes**

In [ ]:
print("hello world")

In [2]:
x  = 5
print(type(x))

y = 5.3
print(type(y))

<class 'int'>
<class 'float'>

#### arithmetic operations
- addition
- subtraction 
- multiplication
- division
- exponent
- floor division
- modulus

In [3]:
x = 5
y = 6

**try all the arithmatec operations on x,y**

### operations priority
- 5 * 4 + 2
- 5 * 2 - 2
- 5 * (4 + 2)

### relational operators

In [23]:
x = 5
y = 3
print(x < y)
print(x != 3)

False
True

### operators priority
- () and ()
- not --- and ---

In [28]:
x = 5
y = 3
print( (x == 5) and (x > y) )
print( not ( (x==5) or (x > y) ) )

True
False

### strings
- lower
- upper
- count
- replace
- [0]
- find
- concat ( + )
- format

**try all the string functions above and print them**

In [1]:
s = "This Is a string"
print(s)

This Is a string

#### write a program to check if a string is palindromic (a palindromic string is read from left to right as from right to left)
example : NEVEN

### inputs

In [27]:
name = input("please enter your name: ")
print(type(name))

please enter your name: ahmed
<class 'str'>

- take the name of the user and print a greeting message for the user
- what's your name? (ahmed)
- hello ahmed

#### type casting

In [31]:
x = int("23")
print(type(x))
x_float = float(23)
print(type(x_float))
print(x_float)

<class 'int'>
<class 'float'>
23.0

In [32]:
x = 5
x_string = str(x)
print(type(x_string))
print(x)

<class 'str'>
5

- take the first name of the user 
- take the last name of the user
- take the birth year of  the user (1992)
- print a greeting message :
"hello ahmed hassan, your age is 28"

- write a program to take a number from the user (7.5) 
- print "double of the number  is (15)"

### if conditions

- <b> make a program to take input from user and check :<br>
    - if temperature > 50 : print(high temperetaure) <br>
    - else : print(low temp) </b>

- <b> make a program to take input from user and check :<br>
    - if temperature > 50 : print(high temperetaure) <br>
    - if temperature > 30 and temperature < 50 : print(moderate temperature) <br> 
    - if temperature < 30 print(low temp) </b>

- make a program to take two numbers from the user and :
- if the first number is bigger: print(first number is bigger)
- if the second number is bigger: print(second number is bigger)
- if the two numbers are equal print(equal numbers)

### take a string from the user and check if it is a palindrome (NEVEN)

### lists

- len
- index
- [0] , [:]
- append , + 
- remove
- insert
- count
- in

**try the above functions on the list below**

In [ ]:
l = ["mohamed" , "ahmed" , "hassan"]

- take a char from the user as input and check if the char is vowel
- vowel chars are {'a', 'e' , 'i' , 'o' , 'u'}

### dictionary

#### using the dictionary below:
#### take the email from user 
#### take the password
#### check if user name and password are correct

In [ ]:
authourized_users = {"moahemd@epsilon.ai" : '1234' , "ahmed@epsilon.ai" : '3456' }

### for loops

In [65]:
for u in range(3 , 10):
    print(u)

3
4
5
6
7
8
9

- take a number as input from the user 
- print the numbers from 0 to this number

- take two numbers from the user (start , end)
- print all numbers in the range: start and end
- 
- example:
- start: 2
- end: 4
- output: <br>
2 <br>
3