##### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).
Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
myvar = "var" # 
my_var = 5    #  
_my_var = 6.5 #  
myVar = True  #  
MYVAR = False #  
myvar2 = "3333" # 



#Illegal variable names:
2myvar = "Error" 
my-var = "Error"
my var = "Error"

##### Get user name and pint "Hello, Username".

In [1]:
# Answer here 
name = input("Enter ur name ")
print("Hello",name)
print("Hello"+name)
print(name)
print("Hello {}".format(name))
print(f"Hello {name}")
print("HEllo %s"%name)

Enter ur name omar
Hello omar
Helloomar
omar
Hello omar
Hello omar
HEllo omar

##### How to take multiple variables ?

In [ ]:
# Answer here 
x= int(input("enter num1: ") )
y = int(input("enter num2: "))
print(x+y)

In [ ]:
x,y = input("Enter numbers : ")
x = int(x)
y=int(y)
print(x+y)

In [ ]:
x,y = input("Enter numbers : ").split()
x = int(x)
y=int(y)
print(x+y)

In [ ]:
x,y = map(int, input("Enter numbers : ").split())
print(x+y)

##### Write ceil devesion implementation.

In [ ]:
# Answer here 
x,y= map(int , input("Enter nums: ").split())
print( (x//y) +1 )

##### Take number from user and print last number (the ones place)

In [ ]:
# Answer here 
# input number as int or float 
# output number as int or float 
num = int(input('Enter num: ')) # int 28 bit  , str 49bit +1 bit for each char 
nums = str(num)
last = nums[-1] # type string 
print(int(last))

In [ ]:
num = int(input('Enter num: '))
print ( num %10)

##### Given  a number of days print the following: 
- How many years ? 
- How many months ?
- How many days ?

In [ ]:
# Answer here 
days = int(input("Enter days : "))
years = days // 365
months = (days % 365 ) // 30
day = days - (years * 365 ) - (months *30) 
print("years : ",years)
print("months : ",months)
print("days :" , day)

##### Given  a number of seconds print the following: 
- How many hours ? 
- How many minutes ?
- How many seconds ?

In [ ]:
# Answer here 
secs = int(input("Enter secs : "))
hours =  secs // 3600   
mins  =  (secs % 3600) // 60
sec   =  secs - ((hours* 3600) + (mins*60))
print("{} secs conssit of {} hours and {} mins and {} sec".format(secs , hours , mins,sec))

In [ ]:
# Answer here 
secs = int(input("Enter secs : "))
hours =  secs // 3600   
mins  =  (secs % 3600) // 60
sec   = (secs % 3600) % 60
print("{} secs conssit of {} hours and {} mins and {} sec".format(secs , hours , mins,sec))

In [ ]:
# Answer here 
secs = int(input("Enter secs : "))
hours =  secs // 3600   
mins  =  (secs % 3600) // 60
sec   = secs % 60 
print("{} secs conssit of {} hours and {} mins and {} sec".format(secs , hours , mins,sec))

#####  What is the Output of the following expression and why ?

In [2]:
A = True
B = False

print((  A or  not B ) and ( A and B ) or B )
print(B and A or ( A and  not A ) )

False
False

In [ ]:
A=True
B=False
C=10 
D=5
#print(( A and B ) - C/D + B + (D*D)**.5)
#print(( A or B )  + 5**2 + C//D )

#### Given the string 'hello' give an index command that returns 'e'

In [ ]:
# Answer here 
s= 'helloe'
print(s[1])

In [ ]:
print(s.index('e'))

In [ ]:
print(s.find('e'))

In [ ]:
s[len(s)-1]

#####  Write a Python program to remove the nth index character from a nonempty string.

In [ ]:
# Answer here 
idx = 3
st = 'python'
# python  
# 012345
frist_part = st[:idx] # from 0 to idx-1
last_part = st[idx+1:] # from idx+1 to last element  
print(frist_part +last_part)

#### list

#####  Write a Python script to merge two Python dictionaries.
- d1 = {'a': 100, 'b': 200}
- d2 = {'x': 300, 'y': 200}

In [ ]:
# Answer here 
car = { "brand": "Ford", "model": "Mustang", "year": 1964 }
#car['model']
car.get('model')

In [ ]:
# Answer here 
d = {0: 10, 1: 20}
d['2']=30
d

In [ ]:
# Answer here 
d = {0: 10, 1: 20}
d.update({2:30})
d

In [ ]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d3 = d1.copy()
d3.update(d2)
d3

In [ ]:
# Answer here 
d = {0: 10, 1: 20, '2': 30}
sum(d.values())

#####  How to add an element to tuple ?

In [4]:
# Answer here 
t = (1,2,3,3)
t1 = t + (9,1)
t1

(1, 2, 3, 3, 9, 1)

In [5]:
t1.count(3)

2

In [6]:
t1.index(9)

4

#####  Write a Python program to add member(s) in a set.

In [8]:
# Answer here 
s = set()
print(s)
s.add('white')
print(s)
s.update(['blue','red','black'])
print(s)
s.pop()
s.remove()

set()
{'white'}
{'blue', 'black', 'red', 'white'}

'blue'

In [ ]:
# Answer here 
s1 ={'blue','red'}
s2 = {'red','blue'}
#s1.intersection(s2)
s1&s2

In [ ]:
# Answer here 
s1 ={'blue','red'}
s2 = {'red','green'}
#s1.union(s2)
s1|s2

#####  get number frome user and tell him if the number is postive or negtive

In [ ]:
# Answer here 
x= 5
if x>0:
    print("P")
else:
    print("N")

In [ ]:
# Answer here 
x= -5
if x<0:
    print("N")
else:
    print("P")

##### Write a Python for a calcultor

In [ ]:
num1 = 5
num2 = 6
op = '+'
if op =='+':
    print(num1+num2)
elif op =='-':
    print(num1-num2)
elif op =='*':
    print(num1*num2)
elif op =='/':
    print(num1/num2)
else :
    print('invalid operation')

#####  Write a Python program to find those numbers which are divisible by 8 and multiple of 4

In [ ]:
# Answer here 
num = 38 
if (num % 8 ==0) and (num %4 ==0):
    print('valid num')
else :
    print('invalid num')

##### 4.5 Given two numbers X, Y which donate coordinates of a point in 2D plan

In [ ]:
# Answer here 
x = -3
y = -4 
if x>0 and y>0 :
    print("Q1")
elif x < 0 and y >0 :
    print('Q2')
elif x< 0 and y <0 :
    print("Q3")
else :
    print("Q4")

#####  Display numbers from -10 to -1 using for and while loop

In [ ]:
# Answer here 
# intailzation (start) i = -10
# condition (end) i ==0
# step            i+=1
# for i in (start , end , step ) 
for i in range(-10,0,1):
    print(i)

In [ ]:
i = -10
while i < 0 :
    print(i)
    i+=1

#####  Calculate the sum of all numbers from 1 to a given number

In [ ]:
# Answer here 
# intial (start) i =1
# condition (end) i <= n , n+1
# step  i+=1
results =0
n=3
for i in range(1,n+1): 
    results+=i
print(results)

In [ ]:
results =0
n=3
i =1
while i <= n :
    results+=i
    i+=1
print(results)

#####  Calculate the multiply of all numbers from 1 to a given number

In [ ]:
# Answer here 
# intial (start) i =1
# condition (end) i <= n , n+1
# step  i+=1
results =1
n=3
for i in range(1,n+1): 
    results*=i
print(results)

In [ ]:
results =1
n=3
i =1
while i <= n :
    results*=i
    i+=1
print(results)

#####  Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 5

In [ ]:
# Answer here 
for i in range(1,51):
    if i %5 == 0:
        print(i)

In [ ]:
ls=[ i for i in range(1,51) if i %5 == 0]
ls

##### print out words that start with 's' in the following sentence.</p>
> st = 'Print only the words that start with s in this sentence'

In [ ]:
# Answer here 
st = 'Print only the words that start with s in this sentence'
for word in st.split() :
    if word[0] == 's':
        print(word)

In [ ]:
# Answer here 
st = 'Print only the words that start with s in this sentence'
for word in st.split() :
    if word.startswith('s'):
        print(word)

In [ ]:
st = 'Print only the words that start with s in this sentence'
ls = st.split()
i =0
while i < len(st.split()):
    if ls[i][0] == 's':
        print(ls[i])
    i+=1

##### print out words that contains 's' in the following sentence.</p>
> st = 'Print only the words that start with s in this sentence'

In [ ]:
# Answer here 
st = 'Print only the words that start with s in this sentence'
for word in st.split() :
    for c in word :
        if c == 's':
            print(word)

In [ ]:
s = 'hello'
s.find('k')

In [ ]:
# Answer here 
st = 'Print only the words that start with s in this sentence'
for word in st.split() :
    if word.find('s') != -1:
        print(word)