## EX1 : Write program to initialize three variable and print them using  print ?

In [ ]:
# initialization of variables
var1 = 5
var2 = 10.4
var3 = 'hello'

In [ ]:
# output the variables
print (var1)
print (var2)
print (var3)
# another way to print varaibles with one print statement 
print(var1 , var2 , var3)

5
10.4
hello
5 10.4 hello

## EX2 : Write program to add the first two variables you have initialized and put the answer in another variable then print answer ?

In [ ]:
# addition expression
answer = var1 + var2
# output
answer

15.4

## EX3 : write a program to take name and age as an input from user  and print name and age as output ?

In [ ]:
# input
name = input('Enter Your Name : ')
age = int(input('Enter Age : '))

Enter Your Name : ali
Enter Age : 24

In [ ]:
# output
print('Hello' , name , 'with age',age )

Hello ali with age 24

## EX4 : write a program to take E-mail and Password as an input from user ?

In [ ]:
# input
email = input('Enter Your E-mail : ')
password = input('Enter Your Password : ')

Enter Your E-mail : ali.10@gmail.com
Enter Your Password : ali_123

In [ ]:
# output
print('Welcome our user' , email , 'and your password becomes' , password)

Welcome our user ali.10@gmail.com and your password becomes ali_123

## EX5 : write a program to accept three numbers from user and add this numbers ?

In [ ]:
# ask user for inputs
var1 = int(input('Enter Number1 : '))
var2 = int(input('Enter Number2 : '))
var3 = int(input('Enter Number3 : '))

Enter Number1 : 12
Enter Number2 : 2
Enter Number3 : 33

In [ ]:
# process
answer = var1 + var2 + var3
# output 
print('you entered three values and there sum =' , answer)

you entered three values and there sum = 47

## EX6 : write program to ask user for circle radius and calculate area  ?

In [ ]:
# ask for input
radius = int(input('Enter Radius For Circle : '))
# process 
area = 3.14 * radius * radius
# output 
print('Area For Circle With Radius' , radius , '=' , area)

Enter Radius For Circle : 12
Area For Circle With Radius 12 = 452.15999999999997

## EX7 : write a program that accept from user 2 numbers and make simple calculator on it ?
12.0 + 3.0 = 15.0 <br>
12.0 - 3.0 = 9.0 <br>
12.0 * 3.0 = 36.0 <br>
12.0 / 3.0 = 4.0 <br>

In [ ]:
# ask user for input two numbers 
num1 = float(input('Enter First Number : '))
num2 = float(input('Enter Second Number : '))

Enter First Number : 12
Enter Second Number : 3

In [ ]:
# here is addition
print( num1 , '+' , num2 , '=' , num1 + num2)
# here is subtraction
print( num1 , '-' , num2 , '=' , num1 - num2)
# here is multiplication
print( num1 , '*' , num2 , '=' , num1 * num2)
# here is division
print( num1 , '/' , num2 , '=' , num1 / num2)

12.0 + 3.0 = 15.0
12.0 - 3.0 = 9.0
12.0 * 3.0 = 36.0
12.0 / 3.0 = 4.0

## EX8 : Print your name is triple in three lines ?

In [ ]:
# first solution 
print('ali')
print('ahmed')
print('mohamed')

ali
ahmed
mohamed

In [ ]:
# second solution
print('ali\nahmed\nmohamed')

ali
ahmed
mohamed

In [ ]:
# third solution
print('''ali
ahmed
mohamed
''')

ali
ahmed
mohamed